*{
    margin: 0;
    padding: 0;

}
.wrap{
    width: 1170px;
    margin: 0 auto;
}
header{
    min-height: 30px;
    background: red;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
footer{
    min-height: 30px;
    background: red;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.body_area{
    min-height: 400px;
    background: #ddd;
    padding: 10px;
}
